[Unit]
Description=Proof-of-origin token provider plugin for yt-dlp (Rust implementation)
Documentation=https://github.com/jim60105/bgutil-ytdlp-pot-provider-rs
After=default.target

[Service]
Type=exec
ExecStart=/usr/local/bin/bgutil-pot server --host 127.0.0.1 --port 4416
Restart=on-failure

[Install]
WantedBy=default.target
