[Unit]
Description=Shikane Wayland output manager
Documentation=man:shikane(1) man:shikane(5) man:shikanectl(1)
# order startup after WM
After=graphical-session.target

[Service]
Type=exec
# Repurpose XDG Autostart filtering
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=/usr/bin/shikane
ExecReload=/usr/bin/shikanectl reload
Restart=on-failure
Slice=app-graphical.slice
Environment=SHIKANE_LOG=info SHIKANE_LOG_TIME=1

[Install]
WantedBy=graphical-session.target
# Alternatively can be wanted by specific WMs' targets
# Should also be duplicated in 'After=' to avoid ordering loop
#WantedBy=wayland-session@sway.desktop.target
#WantedBy=wayland-session@wayfire.desktop.target
#WantedBy=wayland-session@labwc.desktop.target
#WantedBy=wayland-session@hyprland.desktop.target
