[Unit]
Description=Shikane Wayland output manager
Documentation=man:shikane(1) man:shikane(5) man:shikanectl(1)
After=graphical-session.target

[Service]
Type=exec
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=/usr/bin/shikane
ExecReload=/usr/bin/shikanectl reload
Restart=on-failure
Slice=background-graphical.slice
Environment=SHIKANE_LOG=info SHIKANE_LOG_TIME=1

[Install]
WantedBy=graphical-session.target
