__pycache__
/.config/calibre/history.plist
/.config/ghostmirror/ghostmirror.log
/.config/ghostmirror/mirrorlist
/.config/pnpm/rc
/.config/systemd/user/default.target.wants
/.config/systemd/user/timers.target.wants
/.config/yt-x/recent.json
/.config/yt-x/subscriptions.json
/.config/zoom.conf
/.config/zoomus.conf
/.ipython/profile_default/db
/.ipython/profile_default/startup
/.ipython/profile_default/history.sqlite
/.jupyter/migrated
/.local/bin/uu2gslice.sh
/.config/QtProject.conf
/.config/calibre/viewer/annots
/.config/calibre/newly-installed-editor-plugins.json
/.config/calibre/history.plist
/.config/ghostmirror/mirrorlist.gm.bak
/.local/bin/beantools-gen_accounts
/.local/bin/beantools-ingest
/.local/bin/beantools
/.pulse-cookie
/.steam
/.local/bin/keymapp
/Games
/.steampath
/.steampid
/.config/.keymapp
/.config/modorganizer2/instances
/.config/wally
/FalloutNV_2026-03-12_05-36-13.csv
/.config/elinks/cookies
/.local/bin/wvkbd-colemakdh
