[Desktop Entry]
Type=Application
Name=Udiskie
NoDisplay=true
OnlyShowIn=wlroots;Hyprland
TryExec=udiskie
Exec=sh -c 'sleep 10 && udiskie -t -f yazi --terminal=kitty'
