[Desktop Entry]
Type=Application
Name=KDE Connect Daemon
NoDisplay=true
OnlyShowIn=wlroots;Hyprland
TryExec=kdeconnectd
Exec=sh -c 'sleep 5 && kdeconnectd'
