* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(36, 39, 58, 0.90);
}

button {
	border-radius: 10px;
    padding: 10px;
	border-color: #f0c6c6;
	text-decoration-color: #cad3f5;
	/* color: oklab(from var(--view-fg-color) var(--standalone-color-oklab)); */
	/* background-color: var(--view-bg-color); */
	border-style: solid;
	border-width: 1px;
	/* background-repeat: no-repeat; */
	/* background-position: center; */
	/* background-size: 25%; */
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgb(53, 57, 75);
	outline-style: none;
}

/* DEFAULT STYLE BELOW */

button label.action-name {
    font-size: 24px;
    font-family: VictorMono Nerd Font Propo;
}

button label.keybind {
    font-size: 20px;
    font-family: VictorMono Nerd Font;
}

button:hover label.keybind, button:focus label.keybind {
    opacity: 1;
}

button:active {
    color: #f0c6c6;
}

button#shutdown {
    color: #ed8796;
}

button#hibernate {
    color: #8aadf4;
}

button#reboot {
    color: #a6da95;
}

button#lock {
    color: #eed49f;
}

button#logout {
    color: #f5a97f;
}

button#suspend {
    color: #c6a0f6;
}
