[Desktop Entry]
Name=yt-x
Type=Application
Comment=Browse Youtube from the terminal
Terminal=true
Icon=youtube
Exec=yt-x
Categories=AudioVideo;Player;
